Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css, gulp build:js

.lintstagedrc.json:

{
  "./src/**/*.css": "gulp build:css",
  "./src/**/*.js": "gulp build:js"
}

feat: implement creator profile ui
  shopify/sections/settings-content.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/avatar.liquid
  src/scripts/pages/settings.js
  static/images/settings/settings-bg.svg
  static/images/users/user-anonymous.svg
Due: gulp build:js

feat: complete updating product
  shopify/sections/creators-content.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/creators.js
  src/scripts/pages/wishlist.js
  src/templates/card.creator.hbs
Due: gulp build:js

fix: update several styles and issues
  shopify/sections/content-header-buttons.liquid
  shopify/sections/header.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: adjust toastr position
  src/scripts/pages/creators.js
  src/scripts/pages/login.js
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement creator profile page
  shopify/sections/header.liquid
  shopify/sections/landing-hero.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/vendor-hero.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/avatar.liquid
  shopify/templates/index.liquid
  src/scripts/components/avatar.js
  src/scripts/pages/app.js
  src/scripts/pages/settings.js
Due: gulp build:js

fix: update marketplace to add product to wishlist
  shopify/sections/collection.liquid
  shopify/sections/header.liquid
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/pages/settings.js
  src/templates/card.product.hbs
Due: gulp build:js

feat: refactor creating wishlist
  shopify/sections/wishlist-content.liquid
  shopify/snippets/register-form-about.liquid
  src/scripts/pages/wishlist.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

feat: complete refactoring wishlist
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/wishlist.js
  src/templates/card.product.hbs
  src/templates/card.wishlist.hbs
Due: gulp build:js

feat: implement fangift marketplace to add wishlist
  shopify/sections/collection.liquid
  src/scripts/pages/collection.js
  src/styles/components/buttons.css
  src/templates/card.product.hbs
Due: gulp build:css, gulp build:js

fix: update wishlist image on marketplace page
  shopify/sections/collection.liquid
  src/scripts/pages/collection.js
Due: gulp build:js

fix: set firstname on wishlist instead of username
  src/scripts/pages/wishlist.js
Due: gulp build:js

refactor: checkout for new wishlist
  src/scripts/pages/collection.js
  src/scripts/pages/user.js
  src/templates/card.gift.hbs
  src/templates/cart-item.hbs
Due: gulp build:js

fix: update navbar menu according to user role
  shopify/snippets/navbar.liquid
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/login.js
Due: gulp build:js

fix: let the user select country explicitly
  shopify/snippets/register-form-country.liquid
  src/scripts/pages/register.js
Due: gulp build:js

fix: remove signup with google
  shopify/snippets/register-form-details.liquid
  shopify/templates/customers/login.liquid
Due: none

fix: show fan menu properly
  src/scripts/pages/app.js
Due: gulp build:js

fix: rename search vendor
  shopify/sections/collection.liquid
Due: none

feat: implement updating user address
  shopify/sections/header.liquid
  shopify/sections/settings-content.liquid
  src/scripts/pages/register.js
  src/scripts/pages/settings.js
  src/styles/components/form-elements.css
  src/styles/settings.css
Due: gulp build:css, gulp build:js

fix: implement refreshing session
  src/scripts/pages/app.js
  src/styles/components/cards.css
Due: gulp build:css, gulp build:js

fix: update wishlist creating from fangift marketplace
  shopify/sections/wishlist-content.liquid
  shopify/snippets/register-form-email.liquid
  src/scripts/constants/links.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: refresh session when status is 401
  src/scripts/services/fangiftService.js
Due: gulp build:js

feat: update wishlist page
  shopify/sections/content-header-buttons.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/app.js
  src/scripts/pages/wishlist.js
  src/scripts/utils/snip.js
  src/scripts/utils/string.js
Due: gulp build:js

refactor: update session logic
  src/scripts/pages/app.js
  src/scripts/services/fangiftService.js
  src/scripts/utils/session.js
Due: gulp build:js

fix: set product url with empty
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: resolve links undefined error
  src/scripts/utils/session.js
Due: gulp build:js

fix: resolve fangift service undefined error
  src/scripts/utils/session.js
Due: gulp build:js

feat: implement routers based on page role and user role
  gulpfile.js
  shopify/sections/wishlist-content.liquid
  src/scripts/constants/links.js
  src/scripts/constants/pageRoles.js
  src/scripts/pages/app.js
Due: gulp build:js

feat: implement popular gifts section
  package.json
  shopify/sections/wishlist-content.liquid
  src/scripts/constants/links.js
  src/scripts/pages/wishlist.js
  yarn.lock
Due: gulp build:js

feat: implement shipping country
  shopify/sections/header.liquid
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/pages/register.js
  src/scripts/services/restcountriesService.js
Due: gulp build:js

chore: ignore vscode settings
  .gitignore
  .vscode/settings.json
Due: none

fix: add and update wishlist form
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/wishlist.js
  src/styles/components/buttons.css
Due: gulp build:css, gulp build:js

feat: implement verification page
  shopify/templates/page.verification.liquid
  src/scripts/constants/links.js
  src/scripts/pages/register.js
  src/scripts/pages/settings.js
  src/scripts/pages/verification.js
Due: gulp build:js

feat: resend verification link on check email stage
  shopify/snippets/register-form-email.liquid
  shopify/snippets/register-form-username.liquid
  shopify/templates/page.verification.liquid
  src/scripts/constants/links.js
  src/scripts/pages/register.js
  src/scripts/pages/verification.js
Due: gulp build:js

feat: implement reset password
  shopify/templates/customers/login.liquid
  shopify/templates/page.reset-password.liquid
  src/scripts/constants/links.js
  src/scripts/pages/login.js
  src/scripts/pages/register.js
  src/scripts/pages/reset-password.js
  src/scripts/utils/string.js
Due: gulp build:js

fix: validate username
  shopify/snippets/register-form-username.liquid
  src/scripts/constants/errors.js
  src/scripts/pages/register.js
  src/scripts/utils/string.js
  src/styles/components/textfields.css
Due: gulp build:css, gulp build:js

fix: update jquery error plugin
  shopify/snippets/register-form-username.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/constants/errors.js
  src/scripts/pages/register.js
Due: gulp build:js

fix: validate email and password form
  shopify/sections/collection.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-username.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/collection.js
  src/scripts/pages/orders.js
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: add reset password form
  shopify/templates/customers/login.liquid
  shopify/templates/page.confirm-password.liquid
  src/scripts/constants/links.js
  src/scripts/pages/confirm-password.js
  src/scripts/pages/login.js
  src/scripts/pages/reset-password.js
Due: gulp build:js

fix: make wishlist pages public
  src/scripts/constants/links.js
Due: gulp build:js

feat: make register and signin mobile pages responsive
  shopify/snippets/register-form-username.liquid
  shopify/templates/customers/login.liquid
  shopify/templates/customers/register.liquid
  shopify/templates/page.confirm-password.liquid
  shopify/templates/page.reset-password.liquid
  shopify/templates/page.verification.liquid
  src/styles/components/cards.css
Due: gulp build:css
