Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css, gulp build:js

feat: implement landing page fan section
  shopify/templates/index.liquid
  static/images/footer-bg.svg
Due: none

feat: implement landing footer
  shopify/sections/footer.liquid
  shopify/sections/header.liquid
  shopify/templates/index.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.register.liquid
  shopify/templates/page.reset-password.liquid
  src/styles/app.css
  src/styles/components/fonts.css
  static/images/icons/icon-facebook-filled.svg
  static/images/icons/icon-instagram.svg
  static/images/icons/icon-twitter.svg
  static/images/icons/icon-youtube.svg
  static/images/logo-light.png
  tailwind.config.js
Due: gulp build:css

fix: make fullwidth for username field
  shopify/snippets/register-form-username.liquid
Due: none

fix: remove autofocus on landing page
  shopify/templates/index.liquid
Due: none

refactor: split landing page into sections
  package.json
  shopify/sections/fan_connection.liquid
  shopify/sections/join_community.liquid
  shopify/sections/landing_hero.liquid
  shopify/sections/privacy.liquid
  shopify/sections/testimonials.liquid
  shopify/sections/vendor.liquid
  shopify/sections/wishlist.liquid
  shopify/templates/index.liquid
Due: none

fix: rename landing sections with prefix landing
  shopify/sections/landing_community.liquid
  shopify/sections/landing_fan.liquid
  shopify/sections/landing_privacy.liquid
  shopify/sections/landing_testimonials.liquid
  shopify/sections/landing_vendor.liquid
  shopify/sections/landing_wishlist.liquid
  shopify/templates/index.liquid
Due: none

feat: implement vendor hero and profile sections
  shopify/sections/landing-community.liquid
  shopify/sections/landing-fan.liquid
  shopify/sections/landing-hero.liquid
  shopify/sections/landing-privacy.liquid
  shopify/sections/landing-testimonials.liquid
  shopify/sections/landing-vendor.liquid
  shopify/sections/landing-wishlist.liquid
  shopify/sections/vender-hero.liquid
  shopify/sections/vendor-profile.liquid
  shopify/snippets/_pixel_scripts.liquid
  shopify/snippets/arrow-button.liquid
  shopify/templates/index.liquid
  shopify/templates/page.vendor.liquid
  static/images/vendor/vendor-bg.svg
  static/images/vendor/vendor-img0.png
  static/images/vendor/vendor-img1.png
Due: none

feat: implement vendor list products section
  shopify/sections/vendor-list-product.liquid
  shopify/templates/page.vendor.liquid
  static/images/vendor/vendor-img2.png
Due: none

feat: implement vendor manage order section
  shopify/sections/vendor-manage-order.liquid
  shopify/templates/page.vendor.liquid
  static/images/vendor/vendor-img2.png
  static/images/vendor/vendor-img3.png
Due: none

feat: implement vendor page
  shopify/sections/vendor-privacy.liquid
  shopify/templates/page.vendor.liquid
Due: none

feat: implement wishlist hero section
  shopify/sections/vendor-hero.liquid
  shopify/sections/wishlist-hero.liquid
  shopify/templates/page.vendor.liquid
  shopify/templates/page.wishlist.liquid
  static/images/vendor/vendor-img0.png
  static/images/wishlist/wishlist-img0.png
Due: none

feat: implement wishlist share section
  shopify/sections/wishlist-share.liquid
  shopify/templates/page.wishlist.liquid
Due: none

feat: implement wishlist page
  shopify/sections/wishlist-platform.liquid
  shopify/templates/page.wishlist.liquid
  static/images/wishlist/wishlist-img1.png
Due: none

feat: implement how it works page
  shopify/templates/page.how.liquid
  static/images/how/how-img0.png
  static/images/how/how-img1.png
  static/images/how/how-img3.png
Due: none

feat: implement faq page
  shopify/sections/footer.liquid
  shopify/sections/landing-community.liquid
  shopify/sections/landing-vendor.liquid
  shopify/sections/vendor-profile.liquid
  shopify/sections/wishlist-platform.liquid
  shopify/sections/wishlist-share.liquid
  shopify/snippets/button-backward.liquid
  shopify/snippets/button-forward.liquid
  shopify/snippets/register-form-about.liquid
  shopify/snippets/register-form-country.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-email.liquid
  shopify/snippets/register-form-expired.liquid
  shopify/templates/page.faq.liquid
  shopify/templates/page.how.liquid
  static/images/icons/icon-arrow-down.svg
Due: none

refactor: header section
  shopify/sections/faq.liquid
  shopify/sections/header.liquid
  shopify/templates/index.liquid
  shopify/templates/page.faq.liquid
  shopify/templates/page.how.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.register.liquid
  shopify/templates/page.reset-password.liquid
  shopify/templates/page.vendor.liquid
  shopify/templates/page.wishlist.liquid
Due: none

feat: implement terms of service page
  shopify/sections/footer.liquid
  shopify/sections/terms.liquid
  shopify/templates/page.terms.liquid
  static/images/terms/terms-bg.svg
Due: none

fix: update navbar active emphasizing
  shopify/snippets/navbar.liquid
Due: none

feat: implement marketplace page
  shopify/sections/marketplace.liquid
  shopify/snippets/navbar.liquid
  shopify/templates/page.marketplace.json
Due: none

fix: open new tab for marketplace link
  shopify/snippets/navbar.liquid
Due: none

feat: implement shop navbar
  shopify/sections/header-shop.liquid
  shopify/snippets/icon-setting.liquid
  shopify/snippets/icon-user.liquid
  shopify/snippets/logo-light.liquid
  shopify/snippets/logo.liquid
  shopify/snippets/navbar-shop.liquid
  shopify/snippets/navbar.liquid
  shopify/templates/collection.liquid
  src/styles/components/buttons.css
  static/images/users/user3.png
Due: gulp build:css

feat: implement slider component
  .eslintrc.json
  .lintstagedrc.js
  config.js
  gulpfile.js
  package.json
  shopify/snippets/button-forward.liquid
  shopify/snippets/icon-arrow-right.liquid
  shopify/snippets/icon-search.liquid
  shopify/snippets/navbar.liquid
  shopify/templates/collection.liquid
  src/collection.js
  src/styles/collection.css
  src/styles/lib/jquery/index.css
  src/styles/lib/jquery/jquery-ui.min.css
  src/styles/lib/jquery/theme.css
  static/images/shop/shop-bg.svg
  static/lib/jquery/images/ui-icons_444444_256x240.png
  static/lib/jquery/images/ui-icons_555555_256x240.png
  static/lib/jquery/images/ui-icons_777620_256x240.png
  static/lib/jquery/images/ui-icons_777777_256x240.png
  static/lib/jquery/images/ui-icons_cc0000_256x240.png
  static/lib/jquery/images/ui-icons_ffffff_256x240.png
  static/lib/jquery/jquery-ui.min.js
  static/lib/jquery/jquery.min.js
  yarn.lock
Due: gulp build:css, gulp build:js

feat: complete slider component
  shopify/templates/collection.liquid
  src/collection.js
Due: gulp build:js

feat: implement filter box component
  shopify/layout/theme.liquid
  shopify/snippets/icon-arrow-down.liquid
  shopify/snippets/icon-arrow-up.liquid
  shopify/templates/collection.liquid
  src/collection.js
  src/login.js
  src/reset-password.js
  src/styles/collection.css
Due: gulp build:css, gulp build:js

feat: implement collection page
  shopify/snippets/icon-favorite.liquid
  shopify/snippets/product-card.liquid
  shopify/snippets/register-form-role.liquid
  shopify/templates/collection.liquid
  src/collection.js
  src/styles/collection.css
  src/styles/components/buttons.css
  static/images/products/product0.png
  static/images/products/product1.png
  static/images/products/product2.png
  static/images/products/product3.png
Due: gulp build:css, gulp build:js

refactor: convert collection template from liquid to json
  shopify/sections/collection.liquid
  shopify/sections/shop-header.liquid
  shopify/templates/collection.json
  shopify/templates/page.json
  shopify/templates/page.liquid
  shopify/templates/page.user.json
Due: none

fix: rename shop topbar section
  shopify/sections/shop-topbar.liquid
  shopify/templates/collection.json
Due: none

feat: implement user page
  shopify/sections/main-user.liquid
  shopify/snippets/avatar.liquid
  shopify/snippets/gift-card.liquid
  shopify/snippets/gifter.liquid
  shopify/snippets/icon-bag-tick.liquid
  shopify/snippets/icon-export.liquid
  shopify/snippets/icon-heart-small.liquid
  shopify/snippets/icon-instagram-small.liquid
  shopify/snippets/icon-link.liquid
  shopify/snippets/icon-pencil.liquid
  shopify/snippets/icon-profile.liquid
  shopify/snippets/icon-twitch-small.liquid
  shopify/snippets/leaderboard-row.liquid
  shopify/snippets/register-form-about.liquid
  shopify/templates/page.user.json
  src/styles/collection.css
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/user.css
  static/images/users/user-anonymous.png
  static/images/users/user4.png
  static/images/users/user5.png
  tailwind.config.js
Due: gulp build:css

feat: complete user page tab
  .eslintrc.json
  shopify/sections/main-user.liquid
  src/styles/user.css
  src/user.js
Due: gulp build:css, gulp build:js

feat: implement user gifters tab
  shopify/sections/main-user.liquid
  shopify/snippets/gift-card.liquid
Due: none

fix: update product card class
  shopify/snippets/product-card.liquid
Due: none

feat: implement user products tab
  shopify/sections/main-user.liquid
  shopify/snippets/gift-card.liquid
  src/user.js
Due: gulp build:js

refactor: rename original wishlist to public wishlist
  shopify/sections/landing-wishlist-hero.liquid
  shopify/sections/landing-wishlist-platform.liquid
  shopify/sections/landing-wishlist-share.liquid
  shopify/templates/page.public-wishlist.liquid
  shopify/templates/page.wishlist.json
Due: none

refactor: rename header sections
  shopify/sections/header-landing.liquid
  shopify/sections/header-shop.liquid
  shopify/sections/header.liquid
  shopify/snippets/navbar-landing.liquid
  shopify/snippets/navbar-shop.liquid
  shopify/snippets/navbar.liquid
  shopify/templates/collection.json
  shopify/templates/customers/login.liquid
  shopify/templates/customers/register.liquid
  shopify/templates/customers/reset_password.liquid
  shopify/templates/index.liquid
  shopify/templates/page.faq.liquid
  shopify/templates/page.how.liquid
  shopify/templates/page.public-wishlist.liquid
  shopify/templates/page.terms.liquid
  shopify/templates/page.user.json
  shopify/templates/page.vendor.liquid
  shopify/templates/page.wishlist.json
Due: none

fix: udpate navbar highlight effect
  shopify/sections/header.liquid
  shopify/snippets/navbar.liquid
Due: none

feat: implement content header2 section
  shopify/sections/content-header1.liquid
  shopify/sections/content-header2.liquid
  shopify/snippets/icon-copy.liquid
  shopify/snippets/icon-empty-wallet.liquid
  shopify/snippets/icon-plus.liquid
  shopify/snippets/navbar-landing.liquid
  shopify/templates/collection.json
  shopify/templates/page.user.json
  shopify/templates/page.wishlist.json
Due: none

feat: implement wishlist page
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-arrow-dropdown.liquid
  shopify/snippets/icon-pen.liquid
  shopify/snippets/icon-star-outline.liquid
  shopify/snippets/icon-trash-can.liquid
  shopify/snippets/wish-card.liquid
  shopify/templates/page.wishlist.json
  src/styles/collection.css
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/components/dropdown.css
Due: gulp build:css

feat: implement add cash gift drawer
  shopify/sections/content-header2.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-close.liquid
  src/styles/components/buttons.css
Due: gulp build:css

fix: adjust drawer close buton height
  shopify/sections/wishlist-content.liquid
Due: none

Path conditions:
  gulp build:css: any of: ./src/**/*.css
  gulp build:js: any of: ./src/**/*.js
