Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css, gulp build:js

feat: implement navbar responsivemess
  shopify/sections/content-header-buttons.liquid
  shopify/sections/header-landing.liquid
  shopify/sections/header.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/button-backward.liquid
  shopify/snippets/navbar-landing-mb.liquid
  shopify/snippets/navbar-mb.liquid
  shopify/snippets/navbar.liquid
  shopify/snippets/profile-dropdown.liquid
  shopify/templates/customers/register.liquid
  src/scripts/pages/app.js
  src/scripts/pages/wishlist.js
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/components/textfields.css
Due: gulp build:css, gulp build:js

feat: complete mobile responsiveness
  shopify/sections/collection.liquid
  shopify/sections/content-header-text.liquid
  shopify/sections/creators-content.liquid
  shopify/sections/header.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/user-content.liquid
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/pages/user.js
  src/templates/cart-item.hbs
Due: gulp build:js

fix: complete FN-38,39,40,41 and 42 tickets
  shopify/layout/theme.liquid
  shopify/sections/settings-content.liquid
  shopify/snippets/icon-hidden.liquid
  src/scripts/pages/app.js
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
  static/images/favicons/android-icon-144x144.png
  static/images/favicons/android-icon-192x192.png
  static/images/favicons/android-icon-36x36.png
  static/images/favicons/android-icon-48x48.png
  static/images/favicons/android-icon-72x72.png
  static/images/favicons/android-icon-96x96.png
  static/images/favicons/apple-icon-114x114.png
  static/images/favicons/apple-icon-120x120.png
  static/images/favicons/apple-icon-144x144.png
  static/images/favicons/apple-icon-152x152.png
  static/images/favicons/apple-icon-180x180.png
  static/images/favicons/apple-icon-57x57.png
  static/images/favicons/apple-icon-60x60.png
  static/images/favicons/apple-icon-72x72.png
  static/images/favicons/apple-icon-76x76.png
  static/images/favicons/apple-icon-precomposed.png
  static/images/favicons/apple-icon.png
  static/images/favicons/browserconfig.xml
  static/images/favicons/favicon-16x16.png
  static/images/favicons/favicon-32x32.png
  static/images/favicons/favicon-96x96.png
  static/images/favicons/favicon.ico
  static/images/favicons/manifest.json
  static/images/favicons/ms-icon-144x144.png
  static/images/favicons/ms-icon-150x150.png
  static/images/favicons/ms-icon-310x310.png
  static/images/favicons/ms-icon-70x70.png
Due: gulp build:js

feat: fix fn tickets
  shopify/sections/content-header-buttons.liquid
  shopify/sections/fangifts.liquid
  shopify/sections/orders-content.liquid
  shopify/sections/user-content.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-eye.liquid
  shopify/snippets/navbar-mb.liquid
  shopify/snippets/navbar.liquid
  shopify/snippets/profile-dropdown.liquid
  shopify/templates/404.liquid
  shopify/templates/cart.liquid
  shopify/templates/page.fangifts.json
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/settings.js
  src/scripts/pages/wishlist.js
  src/scripts/utils/session.js
  src/templates/card.gift.hbs
  src/templates/card.product.hbs
  src/templates/card.wishlist.hbs
Due: gulp build:js

fix: implement suggest gift function
  shopify/sections/content-header-buttons.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement orders page
  shopify/sections/fangifts.liquid
  shopify/sections/orders-content.liquid
  shopify/sections/user-content.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-delete.liquid
  shopify/snippets/modal-confirm.liquid
  src/scripts/pages/creators.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/orders.js
  src/scripts/pages/settings.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/templates/card.gift.hbs
  src/templates/card.product.hbs
  src/templates/category.hbs
  src/templates/table-order-record.hbs
Due: gulp build:js

complete: orders page
  shopify/sections/orders-content.liquid
  src/scripts/pages/app.js
  src/scripts/pages/login.js
  src/scripts/pages/orders.js
  src/scripts/pages/user.js
  src/scripts/utils/session.js
  src/templates/table-order-record.hbs
Due: gulp build:js

fix: remove price filter and add category selector
  shopify/sections/content-header-text.liquid
  shopify/sections/fangifts.liquid
  shopify/sections/orders-content.liquid
  src/scripts/pages/fangifts.js
  src/scripts/pages/wishlist.js
  src/styles/collection.css
Due: gulp build:css, gulp build:js

fix: fn-62
  src/scripts/pages/app.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/orders.js
  src/scripts/pages/settings.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement FN-67
  shopify/sections/fangifts.liquid
  src/scripts/pages/fangifts.js
Due: gulp build:js

fix: fn-66
  shopify/sections/fangifts.liquid
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement fn-65,68,69
  shopify/sections/content-header-text.liquid
  shopify/sections/footer.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/icon-tiktok.liquid
  src/scripts/pages/settings.js
  src/scripts/pages/user.js
  src/styles/login.css
  src/templates/cart-item.hbs
Due: gulp build:css, gulp build:js

feat: fix several tickets
  shopify/sections/footer.liquid
  shopify/sections/landing-community.liquid
  shopify/sections/landing-fan.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/icon-tiktok.liquid
  shopify/snippets/logo-tiktok.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-username.liquid
  shopify/templates/customers/login.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/login.js
  src/scripts/pages/register.js
  src/scripts/pages/settings.js
  src/scripts/pages/wishlist.js
  static/images/icon-view-password.svg
Due: gulp build:js

feat: implement suggest gift feature
  shopify/layout/theme.liquid
  shopify/sections/user-content.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/register-form-email.liquid
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: fangift tickets
  shopify/sections/fangifts.liquid
  shopify/sections/header-landing.liquid
  shopify/sections/landing-fan.liquid
  shopify/sections/landing-hero.liquid
  shopify/sections/landing-vendor.liquid
  shopify/sections/landing-wishlist.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/button-forward.liquid
  shopify/snippets/navbar-landing.liquid
  shopify/templates/index.liquid
  shopify/templates/page.fangifts.json
  src/scripts/pages/fangifts.js
  src/scripts/pages/register.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/scripts/utils/constants.js
  static/images/users/user-anonymous.png
Due: gulp build:js

fix: update text changes and images on landing page
  shopify/sections/landing-privacy.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-role.liquid
  shopify/templates/customers/login.liquid
  shopify/templates/customers/reset_password.liquid
  shopify/templates/page.confirm-password.liquid
  shopify/templates/page.reset-password.liquid
  static/images/landing/landing-img1.png
  static/images/landing/landing-img2.png
  static/images/landing/landing-img3.png
Due: none

fix: show anonymous user avatar for creators with no photo
  src/templates/card.creator.hbs
Due: none

feat: implement share button and mystore UI
  shopify/sections/content-header-buttons.liquid
  shopify/sections/header.liquid
  shopify/sections/landing-community.liquid
  shopify/sections/landing-fan.liquid
  shopify/sections/mystore-content.liquid
  shopify/sections/user-content.liquid
  shopify/templates/page.fangifts.json
  shopify/templates/page.mystore.json
  src/scripts/constants/links.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/mystore.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/scripts/utils/constants.js
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/components/textfields.css
  src/templates/card-mystore-product.hbs
  static/images/mystore/bg-mystore.svg
  tailwind.config.js
Due: gulp build:css, gulp build:js

feat: complete FN tickets
  shopify/sections/fangifts.liquid
  shopify/snippets/profile-dropdown.liquid
  shopify/templates/customers/login.liquid
  shopify/templates/customers/register.liquid
  shopify/templates/customers/reset_password.liquid
  shopify/templates/page.confirm-password.liquid
  shopify/templates/page.fangifts.json
  shopify/templates/page.how.liquid
  shopify/templates/page.reset-password.liquid
  shopify/templates/page.verification.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/mystore.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/styles/components/buttons.css
  static/images/auth/auth-img0.png
Due: gulp build:css, gulp build:js

feat: complete my store functionalities
  package.json
  shopify/sections/header.liquid
  shopify/sections/mystore-content.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/modal-confirm.liquid
  shopify/templates/customers/login.liquid
  shopify/templates/customers/register.liquid
  shopify/templates/customers/reset_password.liquid
  shopify/templates/page.confirm-password.liquid
  shopify/templates/page.fangifts.json
  shopify/templates/page.reset-password.liquid
  shopify/templates/page.verification.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/mystore.js
  src/scripts/pages/user.js
  src/scripts/pages/verification.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/styles/components/buttons.css
  src/templates/card-mystore-product.hbs
  yarn.lock
Due: gulp build:css, gulp build:js

chore: update env loading
  .env.template
  gulpfile.js
  shopify/sections/mystore-content.liquid
  src/scripts/pages/mystore.js
  src/scripts/services/mystoreService.js
Due: gulp build:js

fix: resolve ui issues
  shopify/sections/content-header-buttons.liquid
  shopify/sections/fangifts.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/wishlist-content.liquid
  shopify/snippets/navbar-landing-mb.liquid
  shopify/snippets/register-form-role.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/settings.js
Due: gulp build:js

fix: complete all fn tickets
  shopify/layout/theme.liquid
  shopify/sections/footer.liquid
  shopify/sections/landing-community.liquid
  shopify/sections/landing-fan.liquid
  shopify/sections/landing-hero.liquid
  shopify/sections/landing-wishlist-hero.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/vendor-hero.liquid
  shopify/snippets/logo-light.liquid
  shopify/snippets/navbar-mb.liquid
  shopify/snippets/navbar.liquid
  shopify/templates/page.how.liquid
  src/scripts/pages/app.js
  src/scripts/pages/settings.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/styles/components/buttons.css
  static/images/fangift_box.png
  static/pdfs/privacy-policy.pdf
  static/pdfs/terms-of-service.pdf
Due: gulp build:css, gulp build:js

fix: update how it works links
  shopify/sections/footer.liquid
  shopify/sections/landing-wishlist.liquid
  shopify/sections/settings-content.liquid
Due: none

fix: additional ui cleanup bugs
  shopify/sections/content-header-buttons.liquid
  shopify/sections/user-content.liquid
  shopify/snippets/profile-dropdown.liquid
  src/scripts/pages/fangifts.js
  src/scripts/pages/wishlist.js
  src/templates/card.product.hbs
Due: gulp build:js

fix: update public wishlist page
  shopify/sections/footer.liquid
  shopify/sections/header.liquid
  shopify/sections/mystore-content.liquid
  shopify/snippets/logo-light.liquid
  shopify/snippets/navbar-landing-mb.liquid
  shopify/snippets/navbar-mb.liquid
  shopify/snippets/profile-dropdown.liquid
  tailwind.config.js
Due: none

feat: fetch featured products at first
  src/scripts/pages/app.js
  src/scripts/pages/fangifts.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement tickets
  shopify/sections/header.liquid
  shopify/snippets/profile-dropdown.liquid
  src/scripts/pages/fangifts.js
  src/scripts/pages/settings.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/templates/card.product.hbs
Due: gulp build:js

fix: update user country on both dynamodb and cognito
  src/scripts/pages/settings.js
Due: gulp build:js

fix: resolve styling issues
  shopify/sections/fangifts.liquid
  shopify/sections/header-landing.liquid
  shopify/snippets/navbar-landing-mb.liquid
  shopify/snippets/profile-dropdown.liquid
  shopify/snippets/register-form-role.liquid
  src/scripts/pages/register.js
Due: gulp build:js

feat: implement social setting pages
  shopify/sections/content-header-buttons.liquid
  shopify/sections/settings-content.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/fangifts.js
  src/scripts/pages/settings.js
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
Due: gulp build:js

fix: close social modal by top-right corner button
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: infinite loading of refreshing access token
  shopify/sections/fangifts.liquid
  src/scripts/pages/app.js
  src/scripts/pages/fangifts.js
  src/templates/card.gift.hbs
Due: gulp build:js

feat: implement adding suggested products to wishlist
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/wishlist.js
  src/scripts/services/mystoreService.js
  src/templates/card-suggested-product.hbs
Due: gulp build:js

fix: replace countries api with npm package
  package.json
  src/scripts/pages/app.js
  src/scripts/pages/register.js
  src/scripts/pages/settings.js
  src/scripts/services/restcountriesService.js
  yarn.lock
Due: gulp build:js

Path conditions:
  gulp build:css: any of: ./src/**/*.css
  gulp build:js: any of: ./src/**/*.js
