Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css --file, gulp build:js --file

chore: add lint-staged
  gulpfile.js
  src/styles/components/buttons.css
Due: gulp build:css --file, gulp build:js --file

test commit
  src/styles/components/buttons.css
Due: gulp build:css --file

fix: update lint-staged affected fileset
  .lintstagedrc.json
  gulpfile.js
Due: gulp build:js --file

fix: empty app script
  .lintstagedrc.js
  .lintstagedrc.json
  src/app.js
  src/register.js
Due: gulp build:js --file

fix: gulp tasks to be sync
  gulpfile.js
  shopify/assets/app.min.js
  shopify/assets/register.min.js
Due: gulp build:js --file

fix: add log to app script
  gulpfile.js
  shopify/assets/app.min.js
  src/app.js
Due: gulp build:js --file

refactor: imporve gulp tasks to work smoothly
  config.js
  gulpfile.js
  package.json
  shopify/assets/app.min.css
  yarn.lock
Due: gulp build:css --file, gulp build:js --file

chore: add autoprefixer plugin to pstcss
  postcss.config.js
  shopify/assets/app.min.css
Due: gulp build:css --file, gulp build:js --file

feat: implement register detail form
  LICENSE
  shopify/assets/app.min.css
  shopify/snippets/register-form-details.liquid
  shopify/templates/page.register.liquid
  src/styles/app.css
  src/styles/components/textfields.css
Due: gulp build:css --file

fix: complete register page
  shopify/assets/register.min.js
  shopify/snippets/register-form-details.liquid
  shopify/templates/page.register.liquid
  src/register.js
Due: gulp build:js --file

chore: fix gulp to filter valid files
  config.js
  gulpfile.js
  package.json
  shopify/assets/app.min.css
  shopify/snippets/register-form-details.liquid
  shopify/templates/page.register.liquid
  src/styles/components/buttons.css
  yarn.lock
Due: gulp build:css --file, gulp build:js --file

fix: add back button to register details form
  shopify/assets/app.min.css
  shopify/assets/register.min.js
  shopify/snippets/register-form-details.liquid
  shopify/templates/page.register.liquid
  src/register.js
Due: gulp build:css --file, gulp build:js --file

chore: add prettier to lint-staged
  .lintstagedrc.js
  .prettierrc.json
  package.json
  shopify/assets/app.min.css
  shopify/assets/register.min.js
  shopify/snippets/register-form-details.liquid
  src/register.js
  yarn.lock
Due: gulp build:css --file, gulp build:js --file

chore: remove unused package dependancies
  README.md
  package.json
  yarn.lock
Due: none

fix: init dotenv config in gulpfile
  gulpfile.js
Due: gulp build:js --file

chore: update lint-staged whitelist
  .lintstagedrc.js
Due: gulp build:js --file

chore: setup eslint checker
  .eslintrc.json
  .lintstagedrc.js
  package.json
  shopify/layout/theme.liquid
  src/register.js
  static/lib/jquery/jquery-3.7.0.min.js
  yarn.lock
Due: gulp build:js --file

chore: fix lintstaged config
  .lintstagedrc.js
Due: gulp build:js --file

chore: prettify gulpfile.js
  gulpfile.js
Due: gulp build:js --file

fix: register details form
  shopify/snippets/register-form-details.liquid
Due: none

feat: implement register country form
  shopify/snippets/register-form-country.liquid
  shopify/snippets/selectbox.liquid
  shopify/templates/page.register.liquid
  src/register.js
Due: gulp build:js --file

feat: complete register page
  shopify/snippets/avatar.liquid
  shopify/snippets/button-back.liquid
  shopify/snippets/register-form-about.liquid
  shopify/snippets/register-form-country.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/select.liquid
  shopify/templates/page.register.liquid
  src/register.js
  src/styles/components/buttons.css
Due: gulp build:css --file, gulp build:js --file

feat: implement check email and session expired pages
  shopify/snippets/register-form-country.liquid
  shopify/snippets/register-form-email.liquid
  shopify/snippets/register-form-expired.liquid
  shopify/templates/page.register.liquid
  src/register.js
  static/images/icon-email.svg
  static/images/icon-expired.svg
Due: gulp build:js --file

feat: implement login page
  gulpfile.js
  shopify/snippets/login-form.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.register.liquid
  shopify/templates/page.reset-password.liquid
  src/login.js
  static/images/bg-auth.png
Due: gulp build:js --file

refactor: login page and card classnames
  shopify/snippets/login-form.liquid
  shopify/snippets/register-form-about.liquid
  shopify/snippets/register-form-country.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-email.liquid
  shopify/snippets/register-form-expired.liquid
  shopify/snippets/register-form-role.liquid
  shopify/snippets/register-form-username.liquid
  shopify/templates/page.login.liquid
  src/styles/components/cards.css
Due: gulp build:css --file

feat: implement reset password page
  shopify/sections/account_header.liquid
  shopify/snippets/register-form-role.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.reset-password.liquid
  src/reset-password.js
Due: gulp build:js --file

chore: sync page templates
  shopify/templates/index.liquid
  shopify/templates/page.how.liquid
  shopify/templates/page.vendor.liquid
  shopify/templates/page.wishlist.liquid
Due: none

fix: register background image url
  .lintstagedrc.js
  .prettierrc.json
  package.json
  shopify/templates/page.register.liquid
  static/images/bg-landing.svg
  yarn.lock
Due: gulp build:js --file

refactor(gulp): update gulp tasks to be most optimized
  gulpfile.js
  src/app.js
Due: gulp build:js --file

chore: fix config paths
  config.js
  gulpfile.js
Due: gulp build:js --file

chore: disable formatting for liquid extension
  .vscode/settings.json
Due: none

fix: update auth pages for background image urls
  shopify/templates/index.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.register.liquid
Due: none

chore: move images to corresponding folders
  shopify/templates/index.liquid
  static/images/auth/auth-bg.svg
  static/images/auth/auth-img0.png
  static/images/icons/icon-email.svg
  static/images/icons/icon-expired.svg
  static/images/icons/icon-external.svg
  static/images/icons/icon-facebook.svg
  static/images/icons/icon-google.svg
  static/images/icons/icon-info.svg
  static/images/landing/landing-bg.svg
  static/images/placeholder.png
Due: none

feat: implement landing page hero section
  .prettierrc.json
  shopify/snippets/register-form-about.liquid
  shopify/snippets/register-form-country.liquid
  shopify/snippets/register-form-details.liquid
  shopify/snippets/register-form-email.liquid
  shopify/snippets/register-form-expired.liquid
  shopify/snippets/register-form-role.liquid
  shopify/snippets/register-form-username.liquid
  shopify/templates/index.liquid
  shopify/templates/page.login.liquid
  shopify/templates/page.reset-password.liquid
  src/styles/components/buttons.css
  static/images/icons/icon-arrow-right.svg
  static/images/landing/landing-img0.png
  static/images/landing/landing-users.png
  static/images/socials/logo-instagram.svg
  static/images/socials/logo-tiktok.svg
  static/images/socials/logo-twitch.svg
  static/images/socials/logo-twitter.svg
  static/images/socials/logo-youtube.svg
Due: gulp build:css --file

feat: implement landing page ads section
  shopify/templates/index.liquid
  static/images/icons/icon-gift.svg
  static/images/icons/icon-heart.svg
  static/images/icons/icon-msg.svg
  static/images/landing/landing-img1.png
Due: none

feat: implement landing page vendor section
  shopify/templates/index.liquid
  static/images/landing/landing-img2.png
Due: none

feat: implement landing page creator section
  shopify/templates/index.liquid
  static/images/landing/landing-users1.png
Due: none

feat: implement landing page privacy section
  shopify/templates/index.liquid
  static/images/landing/landing-img3.png
Due: none

feat: implement landing page testimonials section
  shopify/templates/index.liquid
  static/images/icons/icon-star.svg
  static/images/users/user0.png
  static/images/users/user1.png
  static/images/users/user2.png
Due: none

Path conditions:
  gulp build:css --file: any of: *.css
  gulp build:js --file: any of: *.js
