Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css, gulp build:js

.lintstagedrc.json:

{
  "./src/**/*.css": "gulp build:css",
  "./src/**/*.js": "gulp build:js"
}

fix: add filter dropdown to header
  shopify/sections/header.liquid
  shopify/snippets/icon-arrow-dropdown.liquid
  shopify/snippets/icon-heart-outline.liquid
Due: none

feat: implement orders page
  shopify/sections/content-header3.liquid
  shopify/sections/header.liquid
  shopify/sections/orders-content.liquid
  shopify/sections/user-content.liquid
  shopify/templates/page.orders.json
  shopify/templates/page.user.json
  src/orders.js
  tailwind.config.js
Due: gulp build:js

feat: implement explore creators page
  shopify/sections/content-header1.liquid
  shopify/sections/creators-content.liquid
  shopify/templates/page.creators.json
Due: none

refactor: rename content headers
  shopify/sections/content-header-buttons.liquid
  shopify/sections/content-header-orders.liquid
  shopify/sections/content-header-text.liquid
  shopify/templates/collection.json
  shopify/templates/page.creators.json
  shopify/templates/page.orders.json
  shopify/templates/page.user.json
  shopify/templates/page.wishlist.json
Due: none

feat: implement invite creators page
  shopify/sections/content-header-invite.liquid
  shopify/sections/invite-content.liquid
  shopify/snippets/avatar.liquid
  shopify/templates/gift_card.liquid
  shopify/templates/page.invite.json
  src/styles/components/buttons.css
Due: gulp build:css

feat: implement wishlist add a gift drawer
  shopify/sections/wishlist-content.liquid
  shopify/snippets/wish-card.liquid
Due: none

feat: implement no gift added yet page
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-gift-big.liquid
Due: none

feat: implement gift details drawer
  config.js
  gulpfile.js
  shopify/sections/wishlist-content.liquid
  shopify/snippets/dropdown-list.liquid
  shopify/snippets/register-form-country.liquid
  shopify/snippets/select.liquid
  shopify/templates/gift_card.liquid
  src/styles/components/buttons.css
  src/styles/components/textfields.css
  src/styles/wishlist.css
  src/wishlist.js
  static/images/preivews/preview0.png
Due: gulp build:css, gulp build:js

feat: implement add gift from product drawer
  shopify/sections/wishlist-content.liquid
  src/wishlist.js
Due: gulp build:js

feat: implement save collection drawer
  shopify/sections/wishlist-content.liquid
  shopify/snippets/icon-doc-up.liquid
  src/styles/app.css
  src/styles/components/form-elements.css
  src/wishlist.js
Due: gulp build:css, gulp build:js

fix: drawer flipping bug
  shopify/sections/wishlist-content.liquid
Due: none

feat: implement collection card
  shopify/sections/wishlist-content.liquid
  shopify/snippets/collection-card.liquid
  src/styles/components/buttons.css
  static/images/preivews/preview1-0.png
  static/images/preivews/preview1-1.png
  static/images/preivews/preview1.png
Due: gulp build:css

feat: validate username is unique
  config.js
  gulpfile.js
  package.json
  src/app.js
  src/register.js
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/pages/orders.js
  src/scripts/pages/register.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/scripts/services/fangiftService.js
  yarn.lock
Due: gulp build:js

feat: implement searchable dropdown select
  package.json
  shopify/snippets/register-form-country.liquid
  shopify/templates/customers/register.liquid
  src/scripts/pages/register.js
  src/scripts/services/restcountriesService.js
  src/styles/app.css
  src/styles/components/dropdown.css
  src/styles/components/select.css
  src/styles/register.css
  yarn.lock
Due: gulp build:css, gulp build:js

feat: complete registration page
  config.js
  package.json
  shopify/snippets/avatar.liquid
  shopify/snippets/register-form-about.liquid
  shopify/snippets/register-form-email.liquid
  src/scripts/components/avatar.js
  src/scripts/pages/register.js
  src/styles/register.css
  yarn.lock
Due: gulp build:css, gulp build:js

fix: complete user registration
  src/scripts/pages/register.js
Due: gulp build:js

fix: enable user registration
  src/scripts/pages/register.js
Due: gulp build:js

feat: complete login page action
  shopify/templates/customers/login.liquid
  src/scripts/pages/login.js
  src/scripts/services/fangiftService.js
  src/styles/login.css
Due: gulp build:css, gulp build:js

feat: implement handlebars template system
  .gitignore
  config.js
  gulpfile.js
  package.json
  shopify/sections/collection.liquid
  src/templates/card.product.hbs
  tailwind.config.js
  yarn.lock
Due: none

feat: implement collection products loading
  gulpfile.js
  package.json
  postcss.config.js
  shopify/sections/collection.liquid
  src/scripts/pages/collection.js
  src/scripts/utils/snip.js
  src/styles/app.css
  src/styles/components/buttons.css
  src/styles/components/spin.css
  src/templates/card.product.hbs
  yarn.lock
Due: gulp build:css, gulp build:js

fix: show price on product card
  src/templates/card.product.hbs
Due: none

feat: handle fitler control box
  shopify/sections/collection.liquid
  src/scripts/pages/collection.js
  src/scripts/utils/snip.js
  src/scripts/utils/string.js
  src/templates/category.hbs
Due: gulp build:js

fix: cancel previous request for new request in axios
  shopify/sections/collection.liquid
  src/scripts/pages/collection.js
Due: gulp build:js

feat: complete collection page
  src/scripts/pages/collection.js
Due: gulp build:js

feat: implement auth redirecting to login
  shopify/layout/theme.liquid
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/services/fangiftService.js
  src/templates/card.product.hbs
Due: gulp build:js

fix: remove jquery dependancy in app.js
  src/scripts/pages/app.js
Due: gulp build:js

feat: create jquery loading plugin
  shopify/layout/theme.liquid
  shopify/sections/collection.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/collection.js
Due: gulp build:js

fix: make login button loading
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/app.js
  src/scripts/pages/collection.js
  src/scripts/pages/login.js
  src/styles/components/buttons.css
Due: gulp build:css, gulp build:js

fix: global error handler
  src/scripts/pages/register.js
  src/scripts/services/fangiftService.js
Due: gulp build:js

feat: show loading spinner at first loading
  src/scripts/pages/app.js
Due: gulp build:js

feat: complete authentication flow
  src/scripts/components/jquery-plugins.js
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/login.js
  src/scripts/services/fangiftService.js
Due: gulp build:js

feat: implement wishlist function
  src/scripts/pages/collection.js
  src/scripts/pages/login.js
  src/scripts/utils/userinfo.js
  src/templates/card.product.hbs
Due: gulp build:js

fix: auth routing
  shopify/sections/collection.liquid
  src/scripts/pages/app.js
Due: gulp build:js

fix: update app.js
  src/scripts/pages/app.js
Due: gulp build:js

feat: implement adding product functionality
  shopify/sections/wishlist-content.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/collection.js
  src/scripts/pages/login.js
  src/scripts/pages/register.js
  src/scripts/pages/wishlist.js
  src/templates/card.product.hbs
Due: gulp build:js

fix: fetch product query params
  src/scripts/pages/collection.js
Due: gulp build:js

feat: implement wishlist loading
  shopify/sections/wishlist-content.liquid
  shopify/snippets/wish-card.liquid
  src/scripts/pages/collection.js
  src/scripts/pages/wishlist.js
  src/scripts/utils/constants.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

fix: implement wishlist pagination
  shopify/sections/wishlist-content.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: pagination of collection and wishlist pages
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/collection.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

fix: load new added wishlist after creating wishlist
  shopify/sections/content-header-buttons.liquid
  shopify/sections/wishlist-content.liquid
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/wishlist.js
Due: gulp build:js
