Repository devofficer/fangift-shopify: changes, and which lint-staged commands are due for each by the changed paths.
All: gulp build:css, gulp build:js

feat: implement favorite toggling
  src/scripts/pages/wishlist.js
  src/scripts/services/fangiftService.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

fix: hide load more button
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement dotenv loading by replacing
  gulpfile.js
  package.json
  shopify/sections/header.liquid
  shopify/snippets/register-form-email.liquid
  src/scripts/constants/links.js
  src/scripts/pages/app.js
  src/scripts/pages/login.js
  src/scripts/pages/register.js
  src/scripts/services/fangiftService.js
  src/scripts/utils/string.js
  yarn.lock
Due: gulp build:js

feat: update user registration to complete profile
  shopify/sections/header.liquid
  shopify/sections/settings-content.liquid
  shopify/templates/page.settings.json
  src/scripts/constants/links.js
  src/scripts/pages/register.js
  src/scripts/pages/settings.js
  static/images/settings/settings-bg.svg
Due: gulp build:js

chore: implement CI/CD workflow with shopify cli and gulp
  .gitignore
  gulpfile.js
  package.json
  shopify/templates/page.orders.json
Due: none

fix: update landing page design
  shopify/sections/landing-privacy.liquid
  shopify/sections/landing-vendor.liquid
  src/scripts/pages/app.js
  static/images/landing/landing-img1.png
  static/images/landing/landing-img2.png
  static/images/landing/landing-img3.png
Due: gulp build:js

feat: implement landing hero section
  shopify/sections/header-landing.liquid
  shopify/sections/landing-hero.liquid
  shopify/snippets/navbar-landing.liquid
  src/scripts/constants/links.js
  src/styles/components/buttons.css
  static/images/landing/landing-bg-mb.svg
Due: gulp build:css, gulp build:js

feat: implement landing wishlist responsive
  shopify/sections/landing-wishlist.liquid
Due: none

feat: implement landing vendor section responsiveness
  shopify/sections/landing-vendor.liquid
Due: none

feat: implement landing community section responsiveness
  shopify/sections/landing-community.liquid
  shopify/sections/landing-wishlist.liquid
Due: none

feat: make landing privacy responsive
  shopify/sections/landing-privacy.liquid
Due: none

feat: make landing testimonials responsive
  shopify/sections/landing-testimonials.liquid
Due: none

feat: make landing fan section responsive
  shopify/sections/landing-fan.liquid
  shopify/sections/landing-testimonials.liquid
Due: none

feat: make footer responsive
  shopify/sections/footer.liquid
Due: none

feat: implement hamburger menu
  shopify/layout/theme.liquid
  shopify/sections/header-landing.liquid
  shopify/snippets/icon-close-menu.liquid
  shopify/snippets/icon-menu.liquid
  shopify/snippets/navbar-landing-mb.liquid
  shopify/snippets/navbar-landing.liquid
  src/styles/components/buttons.css
  static/images/landing/landing-hamburger.svg
  tailwind.config.js
Due: gulp build:css

feat: make wishlist hero responsive
  shopify/sections/landing-wishlist-hero.liquid
  static/images/wishlist/wishlist-bg.svg
Due: none

feat: make wishlist share repsonsive
  shopify/sections/landing-wishlist-share.liquid
Due: none

feat: make wishlist platform responsive
  shopify/sections/landing-wishlist-platform.liquid
Due: none

feat: make vendor profile responsive
  shopify/sections/landing-wishlist-hero.liquid
  shopify/sections/vendor-hero.liquid
  shopify/sections/vendor-profile.liquid
Due: none

feat: make vendor list products responsive
  shopify/sections/vendor-list-product.liquid
Due: none

feat: make vendor privacy responsive
  shopify/sections/vendor-manage-order.liquid
  shopify/sections/vendor-privacy.liquid
Due: none

feat: make how it works responsive
  shopify/templates/page.how.liquid
Due: none

fix: hide menu toggler on desktop size
  shopify/sections/header-landing.liquid
Due: none

chore: setup prod deployment environment
  .env.sample
  gulpfile.js
  package.json
  shopify/sections/content-header-buttons.liquid
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: create confirm modal
  shopify/sections/wishlist-content.liquid
  shopify/snippets/modal-confirm.liquid
  src/styles/app.css
  src/styles/components/buttons.css
  src/styles/components/modal.css
Due: gulp build:css

chore: setup stage deployment
  .env.sample
  .gitignore
  gulpfile.js
  package.json
  shopify/sections/wishlist-content.liquid
  shopify/snippets/modal-confirm.liquid
  src/scripts/pages/wishlist.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

fix: check duplication of email in signup form
  .env.template
  gulpfile.js
  src/scripts/pages/register.js
  src/styles/components/buttons.css
Due: gulp build:css, gulp build:js

feat: implement creator card
  shopify/sections/creators-content.liquid
  src/scripts/pages/creators.js
  src/templates/card.creator.hbs
Due: gulp build:js

feat: implemetn explore creators page
  shopify/sections/creators-content.liquid
  src/scripts/pages/creators.js
  src/templates/card.creator.hbs
Due: gulp build:js

feat: implement gift cart
  shopify/sections/user-content.liquid
  src/scripts/pages/creators.js
  src/scripts/pages/user.js
  src/scripts/utils/snip.js
  src/scripts/utils/string.js
  src/templates/card.creator.hbs
  src/templates/card.gift.hbs
  src/templates/cart-item.hbs
Due: gulp build:js

feat: implement remove cart item
  src/scripts/pages/user.js
  src/templates/cart-item.hbs
Due: gulp build:js

fix: update scraper product url
  src/scripts/pages/wishlist.js
  src/templates/cart-item.hbs
Due: gulp build:js

fix: update scraper product params
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement checkout gifts
  shopify/sections/user-content.liquid
  src/scripts/pages/user.js
Due: gulp build:js

fix: override process.env for local dev enviroment
  gulpfile.js
Due: none

chore: update watch command to use .env only
  gulpfile.js
Due: none

refactor: update api shop endpoints
  shopify/snippets/modal-confirm.liquid
  src/scripts/pages/collection.js
  src/scripts/pages/user.js
  src/scripts/pages/wishlist.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

feat: implement delete wishlist function
  src/scripts/pages/wishlist.js
  src/templates/card.wishlist.hbs
Due: gulp build:js

fix: adjust loading spinner size
  src/scripts/components/jquery-plugins.js
  src/scripts/pages/collection.js
  src/scripts/pages/wishlist.js
Due: gulp build:js

feat: implement product update
  shopify/sections/wishlist-content.liquid
  src/scripts/pages/wishlist.js
  src/styles/app.css
  src/styles/register.css
  static/images/placeholder-image.png
Due: gulp build:css, gulp build:js

Path conditions:
  gulp build:css: any of: ./src/**/*.css
  gulp build:js: any of: ./src/**/*.js
